body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    /*Tornar um site com layout liquido, refere-se a alterar unidades
    de medida fixos como px em valores variaveis como em ou %*/
    width: 960px; /*720*/
    margin: 0 auto;
    background: url(Arquivos/coluna.png) repeat-y left top;
    min-width: 720px;
}

#marca {
    height: 300px;
    background: #225992 url(Arquivos/cabecalho2.jpg) no-repeat center ;
    text-align: center;
    line-height: 300px;
}

#conteudo {
    width: 75%;/*520px*/
    float: right;
}

#conteudo-principal {
    width: 64%;
    float: left;
}
/*
#imagem {
    overflow: hidden;
}*/

img.img-noticia{
    width: 90%;
    padding: 2px;
    max-width: 600px;
}

#conteudo-secundario {
    width: 34%;
    float: right;
    background-color: #d1d1d1;
}

#conteudo-secundario h1, h2, h3, p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 23%;/*180px*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navegacao ul {
    list-style: none;
}

#navegacao a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background-color: #c4c4c4;
    padding: 5px;
}