body {
    background-color: #d2d2c1;
    background-image: url('Arquivos/fundo.png');
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

#principal {
    width: 900px;
    background-color: rgb(199, 187, 131);
}

#menu{
    background-color: #c5c5b2;
    padding: 18px;
}

#menu a{
    color:#4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

#conteudo {
    background-color: #e8e8d9;
    padding: 10px;
}

#conteudo img{
    border: solid 10px;
    border-color: rgb(199, 187, 131);
    margin-left: 10px;
}

.centralizar {
    padding-bottom: 10px;
    text-align: center;
}