/*Estilizando Formularios */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 1em 0;
}

legend {
    font-weight: bold;   
}

label {
    display: block;
    cursor: pointer;
}

/*[] serve para especificar um atributo a ser modelado*/
input [type="text"] {
    width: 20em;
}

textarea {
    width: 20em;
    height: 10em;
}